<!DOCTYPE html>
<html lang="fr">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Recommander des parfums</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="icon" type="image/x-icon" href="{% static 'images/logo_b.png' %}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="{% static 'images/logo_b.png' %}" width="30" height="30" class="d-inline-block align-top mr-10" alt="">Sghir
                </a>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">L'algorithme</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Comprendre le score</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="hero-container">
            <div class="hero">
                <img class="hero-img" src="{%static 'images/herotestt.png' %}" alt="">
                <div class="hero-text">
                    <h1 class="hero-title">Trouvez le parfum<br> qui reflète votre personnalité</h1>
                    <p class="hero-lead">Découvrez une sélection de fragrances parfaitement adaptées <br> à votre style et vos préférences. </p>
                    <div class="hero-btn">
                        <button type="button" class="hero-btnn hero-btn-prim"> Trouver mon parfum</button>
                        <button type="button" class="hero-btnn hero-btn-sec">Comment ça marche</button>
                    </div>
                </div>
            </div>
            <div class="container d-flex justify-content-center">
                <div class="choix text-center card-form">
                    <h2 class="home-title">Entrez vos parfums préférés</h2>
                    <form method="post"> 
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btnn btn-recommend" type="submit">Recommander</button>
                    <button class="btnn btn-reset" type="submit", name="reset", value="True">Réinitialiser</button>
                </form>
                </div>
            </div>
        </div>
        {% if similar_perfumes %}
        <div class="carousel-wrapper">
            <h3 class="recommender_title">Parfums recommandés selon vos goûts :</h3>
        
            <!-- Carrousel horizontal avec flèches -->
            <div class="carousel-scroll-wrapper">
                <button class="carousel-arrow left" onclick="scrollCarousel(-1)">&#8592;</button>
        
                <div class="carousel-scroll-container">
                    <div class="carousel-scroll" id="carousel-scroll">
                        {% for perfume, score in similar_perfumes %}
                        <div class="perfume-card" id="card{{ forloop.counter }}">
                            <div class="card-body text-center">
                                <h6 class="card-brand mb-2 text-muted">{{ perfume.marque }}</h6>
                                <h5 class="card-name">{{ perfume.nom }} - {{ perfume.annee }}</h5>
                                <div class="score">
                                    {% if score > 80 %}
                                        <p class="max"><strong>Score de similarité :</strong> {{ score }}</p>
                                    {% elif score > 60 %}
                                        <p class="moye"><strong>Score de similarité :</strong> {{ score }}</p>
                                    {% elif score > 0 %}
                                        <p class="min"><strong>Score de similarité :</strong> {{ score }}</p>
                                    {% endif %}
                                </div>
                                <div class="perfume-info">
                                    <strong>Genre :</strong> {{ perfume.genre }} <br>
                                    <strong>Notes de tête :</strong> <br>{{ perfume.notes_tete }} <br>
                                    <strong>Notes de cœur :</strong> <br>{{ perfume.notes_coeur }} <br>
                                    <strong>Notes de fond :</strong> <br>{{ perfume.notes_fond }} <br>
                                    <strong>Accords principaux :</strong> <br>{{ perfume.accords_principaux }} <br>
                                    Note moyenne : {{ perfume.note_moyenne }}/5 ({{ perfume.nombre_votes }} votes)
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="spacer"></div>
                    </div>
                </div>
        
                <button class="carousel-arrow right" onclick="scrollCarousel(1)">&#8594;</button>
            </div>
        </div>
        {% endif %}
        {% if notes_frequentes %}
            <p class="favorite_notes text-center"><strong>Vos notes favorites : </strong></p>
            <p class="text-center">{{ notes_frequentes|join:", " }}</p>
        {% endif %}
        {% if accords_frequents %}
            <p class="favorite_acc text-center"><strong>Vos accords favoris : </strong></p>
            <p class="text-center">{{accords_frequents|join:", " }}</p>
        {% endif %}
        <div class="sghir-profile">
            <div class="sghir-content">
              <h3 class="sghir-title">L’expertise au service de votre parfum</h3>
              <p class="sghir-description">
                Ce site a été conçu par <strong>Ali Sghir</strong>, passionné de parfums, d’analytique et d’expériences personnalisées.  
                Son objectif : vous aider à trouver des fragrances qui reflètent parfaitement votre identité.
              </p>
              <div class="sghir-links">
                <a href="/a-propos" class="sghir-link">En savoir plus</a>
              </div>
            </div>
          
            <div class="sghir-signature">
              <img src="{% static 'images/profile.jpg' %}" alt="Ali Sghir" class="signature-photo">
            </div>
            <ul class="profile-links">
                <li class="">
                    <a href="https://www.github.com/alisghir1" target="_blank"><img src="{% static 'images/github.svg' %}" alt="Github"></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/ali-sghir-705808244/" target="_blank"><img src="{% static 'images/linkedin.svg' %}" alt="Linkedin"></a>
                </li>
                <li>
                    <a href="mailto:alisghir015@gmail.com" target="_blank"><img src="{% static 'images/envelope.svg' %}" alt="Mail"></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/alisghir" target="_blank"><img src="{% static 'images/instagram.svg' %}" alt="Linkedin"></a>
                </li>
            </ul>
          </div>
        <script>
            function scrollCarousel(direction) {
              const container = document.getElementById("carousel-scroll");
              const cardWidth = container.querySelector(".perfume-card").offsetWidth + 20;
              container.scrollBy({ left: direction * cardWidth * 3, behavior: 'smooth' });
            }
            window.addEventListener("load", () => {
                const container = document.getElementById("carousel-scroll");
                container.scrollTo({ left: 0 });
            });
          </script>        
    </body>

</html>